<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="unity" type="Microsoft.Practices.Unity.Configuration.UnityConfigurationSection, Microsoft.Practices.Unity.Configuration"/>
  </configSections>

  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  
  <unity xmlns="http://schemas.microsoft.com/practices/2010/unity">
    <assembly name="Pacman"/>
    <assembly name="Pacman.Engine"/>
    
    <namespace name="Pacman"/>
    <namespace name="Pacman.Views"/>
    <namespace name="Pacman.ViewModels"/>
    <namespace name="Pacman.Engine"/>
    
    <container>
      <register type="IShell" mapTo="ShellViewModel"/>
      <register type="IPlayerInfo" mapTo="PlayerInfo"><lifetime type="singleton"/></register>
    </container>
  </unity>

</configuration>
